:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-dark);
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-light);
}


header.header {
    background-color: var(--header);
}

.header .container {
    display: flex;
    justify-content: center;
    min-height: 100px;
    align-items: center;
    padding: 40px 0px;
}

.title {
    font-size: 32px;
    color: var(--primary-yellow);
    font-family: 'Press Start 2P', cursive;
  }
  
  .main {
    text-align: center;
    margin-top: 40px;
  }

  .scoreboard {
    margin-bottom: 15px;
  }

  .score-info {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .score-message {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .scores-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;;
    padding: 10px;
  }

  .sign {
    font-size: 80px;
    margin-bottom: 15px;
  }

  .score {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }


  .btn {
    border-radius: 10px;
    background-color: var(--secondary-dark);
  }

  .btn-square {
    width: 160px;
    height: 160px;
  }
  
  .btn:hover {
    background-color: var(--secondary-dark-hover);
  }
  
  .btn:active {
    background-color: var(--secondary-dark-active);
  }